body {
  color:Green;
  background-color:Black;
  font-family:Roboto Mono;
  font-size:15pt;
}


.side-panes {
  color:black;
  background-color:white;
  font-family:'Arial Black', Gadget, sans-serif;
  font-size:10pt;
}


